/* Herotext
############################################################################ */

.herotext {
  padding-top: 0;
  margin-bottom: var(--fluid-space-l);

  h1,
  h2 {
    font-size: var(--l);
    font-weight: var(--fw-bold);
    line-height: var(--lh-tight);
  }

  &>* {
    max-width: var(--max-width-content);
    line-height: var(--lh-default);

    &:not(h1, h2, h3, h4) {
      font-weight: var(--fw-medium);
    }
  }

  // a {
  //   font-size: var(--s);
  //   margin-top: var(--fluid-space-s);
  //   background-color: var(--beige-lighter);
  //   color: var(--text-color)
  // }

  // a:hover {
  //   color: var(--beige-lighter);
  // }

  @media only screen and (min-width: $vp-medium) {

    h1,
    h2 {
      font-size: var(--xxl);
      font-weight: var(--fw-bold);
      line-height: var(--lh-tight);
    }

    &>* {
      max-width: var(--max-width-content);
      font-size: var(--m);
      line-height: var(--lh-default);

      &:not(h1, h2, h3, h4) {
        font-weight: var(--fw-medium);
      }
    }
  }
}