---

layout: default
title: Marion Müller
tagline: Rechtsbegleitung, Mediation & Supervision
class: grid

---


{% capture content %}{% include single-markdown.html file="intro.md" %}{% endcapture %}
{{ content | markdownify }}


<section class="is-large has-no-padding image-decoration">
    <img srcset="./images/web/steine_small.webp 400w, ./images/web/steine_medium.webp 800w, ./images/web/steine_large.webp 1200w, ./images/web/steine.webp 2878w"
        src="./images/web/steine.webp" alt=""
        style="position: absolute; z-index: -1; object-fit: contain; left:0; margin-top: var(--xxl);">
    {% capture content %}{% include products.html %}{% endcapture %}
    {{ content | markdownify }}
</section>

<section class="vita has-no-padding">
    {% capture content %}{% include single-markdown.html file="vita.md" %}{% endcapture %}
    {{ content | markdownify }}
</section>

<section class="faq">
    <div class="herotext">
        <h2>Fragen?</h2>
        <p>Sie möchten mehr über meine Leistungen oder den Beratungsprozess erfahren? Hier ein paar Antworten auf
            Fragen, die mir häufig gestellt werden. Gerne stehe ich Ihnen persönlich für ein Gespräch zur Verfügung.
            Schreiben Sie mir oder rufen Sie mich an.</p>
    </div>
    {% capture content %}{% include faqs.html %}{% endcapture %}
    {{ content }}
</section>

<section class="cite">
    {% capture content %}{% include single-markdown.html file="cite-ignore.md" %}{% endcapture %}
    {{ content | markdownify }}
</section>

<section class="is-dark contact has-no-padding" id="contact">
    {% capture content %}{% include single-markdown.html file="contact.md" %}{% endcapture %}
    {{ content | markdownify }}
</section>