---

layout: default
title: Marion Müller
tagline: Rechtsbegleitung, Mediation & Supervision
class: grid

---


{% capture content %}{% include single-markdown.html file="intro.md" %}{% endcapture %}
{{ content | markdownify }}


<div class="section is-large has-no-padding image-decoration" style="background-image: url('./images/web/steine_2.webp');">
    {% capture content %}{% include products.html %}{% endcapture %}
    {{ content | markdownify }}
</div>

<section class="vita has-no-padding">
    {% capture content %}{% include single-markdown.html file="vita.md" %}{% endcapture %}
    {{ content | markdownify }}
</section>

<section class="faq">
    <div class="herotext">
        <h2>Fragen?</h2>
        <p>Sie möchten mehr über meine Leistungen oder den Beratungsprozess erfahren? Hier ein paar Antworten auf Fragen, die mir häufig gestellt werden. Gerne stehe ich Ihnen persönlich für ein Gespräch zur Verfügung. Schreiben Sie mir oder rufen Sie mich an.</p>
    </div>
    {% capture content %}{% include faqs.html %}{% endcapture %}
    {{ content }}
</section>

<section class="cite">
    {% capture content %}{% include single-markdown.html file="cite-ignore.md" %}{% endcapture %}
    {{ content | markdownify }}
</section>

<section class="is-dark contact has-no-padding">
    {% capture content %}{% include single-markdown.html file="contact.md" %}{% endcapture %}
    {{ content | markdownify }}
</section>