@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Barlow/Barlow-Light.ttf);
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Barlow/Barlow-Regular.ttf);
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Barlow/Barlow-Medium.ttf);
}

@font-face {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Barlow/Barlow-Bold.ttf);
}

@font-face {
  font-family: Signika;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Signika/static/Signika-Light.ttf);
}

@font-face {
  font-family: Signika;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Signika/static/Signika-Regular.ttf);
}

@font-face {
  font-family: Signika;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Signika/static/Signika-Medium.ttf);
}

@font-face {
  font-family: Signika;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Signika/static/Signika-SemiBold.ttf);
}

@font-face {
  font-family: Signika;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Signika/static/Signika-Bold.ttf);
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/Fira_Sans/FiraSans-Light.ttf);
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Fira_Sans/FiraSans-Medium.ttf);
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 500;
  src: url(../fonts/Fira_Sans/FiraSans-SemiBold.ttf);
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/Fira_Sans/FiraSans-Bold.ttf);
}

@font-face {
  font-display: swap;
  font-family: Fira;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Fira_Sans/FiraSans-ExtraBold.ttf);
}

@font-face {
  font-display: swap;
  font-family: FiraItalic;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Fira_Sans/FiraSans-Italic.ttf);
}

@font-face {
  font-display: swap;
  font-family: FiraMono;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Fira_Sans_Condensed/FiraSansCondensed-Regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: IBMSans;
  font-style: normal;
  font-weight: 200;
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf);
}

@font-face {
  font-display: swap;
  font-family: IBMSans;
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: IBMSans;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf);
}

@font-face {
  font-display: swap;
  font-family: IBMSans;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf);
}

@font-face {
  font-display: swap;
  font-family: IBMSerif;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/IBM_Plex_Serif/IBMPlexSerif-Medium.ttf);
}

@font-face {
  font-display: swap;
  font-family: Atkinson;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Regular.ttf);
}

@font-face {
  font-display: swap;
  font-family: Atkinson;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Atkinson_Hyperlegible/AtkinsonHyperlegible-Bold.ttf);
}

@font-face {
  font-display: swap;
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/MaterialIcons-4.0.0/MaterialIconsOutlined-Regular.otf"),
    url("../fonts/MaterialIcons-4.0.0/MaterialIconsOutlined-Regular.ttf") format("truetype");
}
