/* Backgrounds
############################################################################ */
.is-dark {
  background-color: var(--dark);

  --text-color: var(--light);
  --headline-color: var(--light);
}

.is-light {
  background-color: var(--lightest);
}

.is-blue {
  background-color: var(--background-color);

  & * {
    color: var(--lightest);
  }
}
