/* Details
############################################################################ */
details {
  margin-left: var(--l);
  transition: padding var(--tr-slow), margin var(--tr-slow), opacity var(--tr-medium);

  summary {
    position: relative;
    margin-left: calc(var(--l) * -1.2);
    list-style: none;

    & > h3 {
      display: inline-block;
    }

    &:hover {
      cursor: pointer;
    }

    &::-webkit-details-marker { display: none; }

    &::before {
      position: absolute;
      top: 0;
      display: inline-block;
      margin: 0;
      color: var(--interaction-color);
      content: "chevron_right";
      font-size: var(--l);
      font-weight: var(--fw-bold);
      transition: transform ease-in-out 200ms;

      @extend .icon;
    }

    h3 {
      max-width: 90%;
      padding-left: 2.5ch;
      hyphens: auto;
    }
  }

  &[open] {
    padding-bottom: var(--l);
    border-bottom: solid var(--border-width-l) var(--border-color);
    margin-top: var(--fluid-space-l);
    margin-bottom: var(--fluid-space-l);
    opacity: 1 !important;

    summary::before {
      transform: rotate(90deg);
    }
  }
}

.vertical-stack:has(details[open]) > details {
  opacity: var(--op-medium);
}
